/* header.css */

.header-container {
    position: fixed;
    background-color: #B9D9EB;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    z-index: 1000;
  }
  
  .header-logo {
    width: 80px;
    align-items: center;
  }
  
  .header-logo img {
    width: 90%;
    border-radius: 50px;
  }
  
  .header-logo a {
    cursor: auto;
  }
  
  .header-nav {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    position: relative;
    margin-right: 30px;
    margin-left: auto;
  }
  
  .header-nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 12px;
  }
  
  .header-nav span {
    color: rgb(2,0,36);
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.08;
    padding: 1px 0;
    white-space: nowrap;
    position: relative;
    font-family: 'Google Sans', Arial, sans-serif;
  }
  
  .header-nav span::before {
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 4px 4px;
    bottom: -6px;
    content: "";
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    transform-origin: left center;
    transform: scaleX(0);
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    visibility: hidden;
    width: auto;
    font-family: 'Google Sans', Arial, sans-serif;
  }
  
  .header-nav a:hover span::before {
    transform: scaleX(1);
    visibility: visible;
    opacity: 1 !important;
  }
  
  .header-login {
    color: #000000;
    background-color: #ffffff;
    padding: 10px 16px;
    margin-right: 45px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: 2px solid #05051c;
    border-radius: 4px;
    transition: all 0.2s ease 0s;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Google Sans', Arial, sans-serif;
  }
  
  .header-login:hover {
    background-color: #05051c;
    color: #000;
  }
  
  @media (max-width: 548px) {
    .header-nav {
      display: none;
    }
  }